# Python Basics for Beginners

## Variables and Data Types

In [ ]:
name = "Alice"  # String type:
age = 25        # Integer type
height = 165.5    # Float type
is_student = True  # Boolean type: True/False
is_male = False

## Basic Operators

### String operations

In [ ]:
# Concatenation
first_name = "Alice"
last_name = "Smith"
full_name = first_name + " " + last_name # Concatenation
print(full_name)

In [ ]:
# Length
full_name_length = len(full_name)
print(full_name_length)

In [ ]:
# Replace   
full_name = full_name.replace("Alice", "Bob")
print(full_name)

In [ ]:
# Indexing
print(full_name[0]) # First character

In [ ]:
# Slicing
print(full_name[0:3]) # First three characters

In [ ]:
# Stripping
full_name = "   Alice Smith   "
print(full_name.strip())

In [ ]:
# Lowercase
print(full_name.lower())

In [ ]:
# Uppercase
print(full_name.upper())

In [ ]:
# Split
print(full_name.split(" ")) # Split by space

### Numeric operations

In [ ]:
# Arithmetic operations
addition = 10 + 5
subtraction = 10 - 5
multiplication = 10 * 5
division = 10 / 5

print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)

In [ ]:
# Comparison operations
a = 10
b = 5

print("a > b:", a > b)
print("a < b:", a < b)
print("a >= b:", a >= b)
print("a <= b:", a <= b)
print("a == b:", a == b)

### Boolean operations

In [ ]:
# AND
print("True and True:", True and True)

# OR
print("True or False:", True or False)

# NOT
print("not True:", not True)

In [ ]:
# it also works with variables
is_adult = True
is_teenager = not is_adult

print("is_teenager:", is_teenager)

## Conditional statements
In python, we use `if`, `elif`, and `else` to perform conditional operations. 

`elif` and `else` are optional.

In [1]:
age = 12

if age < 20:
    print("You're a teenager.")
elif age >= 20:
    print("You're an adult.")
else:
    print("I don't know your age.")

You're a teenager.

The difference between `elif` and countinous `if`

In [12]:
age = 12

if age < 20:
    print("You're a teenager.")
if age >= 20:
    print("You're an adult.")
if age == 12:
    print("You're 12 years old.")

You're a teenager.
You're 12 years old.

In [14]:
# elif
age = 12
if age < 20:
    print("You're a teenager.")
elif age >= 20:
    print("You're an adult.")
else:
    print("You're 12 years old.")

You're a teenager.

## Loops
In python, we use `for` and `while` to perform loop operations.

### `for` loop
`for` loop is used to iterate over a sequence (list, tuple, string) or other iterable objects.

In [15]:
for i in range(5):
    print("For loop:", i)

For loop: 0
For loop: 1
For loop: 2
For loop: 3
For loop: 4

In [22]:
for i in [0, 1, 2, 3, 4]:
    print("For loop:", i)

For loop: 0
For loop: 1
For loop: 2
For loop: 3
For loop: 4

### `while` loop
`while` loop is used to execute a block of statements repeatedly until a given condition is satisfied.

In [21]:
while age < 30:
    print("Age is less than 30. Age is:", age)
    age += 1 # age = age + 1

## Data Structures

Python has four built-in data structures: list, tuple, dictionary, and set. 

Today, we will focus on list and dictionary since they are the most commonly used data structures in python.

### List
A list is a collection which is ordered and changeable. Allows duplicate members. The elements in a list are indexed according to a definite sequence and the indexing of a list is done with 0 being the first index.

In [23]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

Lists are mutable, meaning, the value of elements of a list can be altered.

In [24]:
fruits[0] = "orange"
print(fruits)

['orange', 'banana', 'cherry']

Any type (integer, float, string, etc.) can be stored in a list.

In [28]:
random_list = ["Alice", 25, True, 5.7]
print(random_list)

['Alice', 25, True, 5.7]

You can even put a list in a list.

In [29]:
list_of_lists = [["Alice", 25], ["Bob", 30]]

#### List operations and functions

The `+` operator can be used to concatenate two lists.
The `*` operator can be used to repeat the items in a list for a given number of times.
The `in` operator can be used to check if an item is in a list.
The `len()` function can be used to get the length of a list.
The `max()` function can be used to get the maximum value in a list if all the elements are numeric.
The `min()` function can be used to get the minimum value in a list if all the elements are numeric.
The `sum()` function can be used to get the sum of all the elements in a list if all the elements are numeric.
The `sorted()` function can be used to sort a list.
The `append()` function can be used to add an item to the end of a list.
The `insert()` function can be used to insert an item at a given position in a list.
The `remove()` function can be used to remove an item from a list.

In [30]:
# `+` operator
list_a = [1, 2, 3]
list_b = [4, 5, 6]

list_c = list_a + list_b
print(list_c)

[1, 2, 3, 4, 5, 6]

In [31]:
# `*` operator
list_d = list_a * 3
print(list_d)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [33]:
# `in` operator
print(1 in list_a)

True

In [34]:
# `len()` function
print(len(list_a))

3

In [35]:
# `max()` function
print(max(list_a))

3

In [36]:
# `min()` function
print(min(list_a))

1

In [42]:
# `sum()` function
print(sum(list_a))

6

In [41]:
# sort() method
list_e = [3, 2, 1]
list_e.sort()
print(list_e)

# you can also sort strings reverse alphabetically
list_f = ["Alice", "Bob", "Charlie"]
list_f.sort(reverse=True)
print(list_f)

[1, 2, 3]
['Charlie', 'Bob', 'Alice']

In [43]:
# append() method
list_g = [1, 2, 3]
list_g.append(4)
print(list_g)

[1, 2, 3, 4]

In [44]:
# insert() method
list_h = [1, 2, 3]
list_h.insert(0, 0)
print(list_h)

[0, 1, 2, 3]

In [46]:
# remove() method
list_i = [1, 2, 3]
list_i.remove(2)
print(list_i)

[1, 3]

#### List slicing
List slicing is used to get a subset of a list.

In [47]:
list_j = [1, 2, 3, 4, 5]

# if we want the first three elements
print(list_j[0:3])

# if we want the last three elements
print(list_j[-3:])

# if we want every other element
print(list_j[::2])

[1, 2, 3]
[3, 4, 5]
[1, 3, 5]

### Dictionary

Dictionary is an unordered collection of key-value pairs. It is generally used when we have a huge amount of data. Dictionaries are optimized for retrieving data. We must know the key to retrieve the value.

In [66]:
person = {
    "name": "Bob",
    "age": 30
}

print(person)

# accessing values
print(person["name"])
print(person["age"])

{'name': 'Bob', 'age': 30}
Bob
30

#### Dictionary operations and functions

- The `in` operator can be used to check if a key is in a dictionary.
- The `len()` function can be used to get the number of key-value pairs in a dictionary.
- The `keys()` function can be used to get all the keys in a dictionary.
- The `values()` function can be used to get all the values in a dictionary.
- The `items()` function can be used to get all the key-value pairs in a dictionary.
- The `get()` function can be used to get the value of a key in a dictionary.
- The `pop()` function can be used to remove a key-value pair from a dictionary.

In [67]:
# The `in` operator
print("name" in person)

True

In [68]:
# The `len()` function
print(len(person))

2

In [69]:
# The `keys()` method
print(person.keys())

dict_keys(['name', 'age'])

In [70]:
# The `values()` method
print(person.values())

dict_values(['Bob', 30])

In [71]:
# The `items()` method
print(person.items())

dict_items([('name', 'Bob'), ('age', 30)])

In [72]:
# The `get()` method
print(person.get("name"))

Bob

In [73]:
# The `pop()` method
person.pop("name")
print(person)

{'age': 30}

### The combination of list and dictionary
It is very common to have a list of dictionaries or a dictionary of lists.

In [74]:
# a list of dictionaries
people = [
    {"name": "Alice", "age": 25},
    {"name": "Bob", "age": 30}
]

If we want to access the name of the first student, we can use `students[0]['name']`.

In [75]:
print(people[0]["name"])

Alice

In [81]:
# a dictionary of lists
person = {
    "name": ["Alice", "Smith"],
    "age": 25
}

If we want to access the first name, we can do so by using the index 0:

In [80]:
print(person["name"][0])

Alice

### Brief introduction to tuple

A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.

In [82]:
person = ("Alice", 25)

We can access the elements of a tuple using indexing, just like a list. But unlike a list, we cannot change the elements of a tuple. Thus, we usually use a tuple to store a sequence of values that will not change.

In [84]:
name = person[0]
print(name)

Alice

TypeError: 'tuple' object does not support item assignment

If we try to change the elements of a tuple, we will get an error.

In [86]:
person[0] = "Bob" # This will cause an error

TypeError: 'tuple' object does not support item assignment

### Breif introduction to set

A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets. If the value of an element in a set is not unique, it will be removed automatically.

In [87]:
set_a = {1, 2, 3 ,3}
print(set_a)

{1, 2, 3}

## Functions

Functions are a way to organize your code into reusable blocks of code. They are defined using the `def` keyword. When you want to use a function, you call it by using the function name followed by parentheses.

In [90]:
def greet(name): # name is input
    return "Hello, " + name + "!" # the return value is the output

print(greet("Alice")) # Alice is the argument

Hello, Alice!

You can have multiple input parameters and multiple output parameters.

In [94]:
def increment_and_return(input1, input2):
    # do something
    output1 = input1 + 1
    output2 = input2 + 1
    return output1, output2

print(increment_and_return(1, 2))

(2, 3)

You can also have no inputs and no outputs. Please note that the `return` keyword is optional.

In [97]:
def print_hello():
    print("Hello!")

print_hello()

Hello!